.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: gray;
}

.battle {
    width: 1075px;
    height: 900px;
    position: absolute;
    z-index: 0;
    background-color: pink;
}

.management {
    width: 1075px;
    height: 900px;
    position: absolute;
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
}

.ships {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 1050px;
    background: black;
    margin: 10px 0px;
}

.vitalityDisplay {

    text-align: center;
    width: 190px;
    height: 30px;
    font-size: 20px;
    resize: none;
}
.playerShip {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    height: 300px;
    background: blue;
}

.enemyShip {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    height: 300px;
    background: red;
}

.system {
    font-size: 20px;
    padding: 10px 10px;
}

.actionBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 200px;
    background: orange;
    margin: 10px 10px;
}

.action {
    font-size: 25px;
    padding: 20px 12px;
}

.infoDisplayArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infoDisplay {
    height: 50px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    padding: 12px 12px;
    margin: 10px 50px;
    resize: none;
}

.manageShip {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 650px;
    height: 900px;
    background-color: blue
}

.shipDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 620px;
    height: 705px;
    background-color: black;
}

.upgradeUI {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 620px;
    height: 175px;
    background-color: lightblue;
}

.upgradeShip {
    font-size: 40px;
    padding: 12px 12px;
}

.moneyDisplay {
    width: 300px;
    height: 60px;
    text-align: center;
    padding: 10px 10px;
    font-size: 25;
}

.utility {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    height: 900px;
    background-color: orange
}

.sitrep {
    display: flex;
    width: 420px;
    height: 420px;
    background-color: darkorange;
    justify-content: space-around;
    align-items: center;
}

.sitrepText {
    text-align: left;
    font-size: 20px;
    width: 410px;
    height: 410px;
    resize: none;
}

.stats {
    display: flex;
    width: 420px;
    height: 270px;
    background-color: yellow;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.statsText {
    font-size: 20px;
    width: 410px;
    height: 260px;
    resize: none;
    text-align: center;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    height: 150px;
    background-color: olive;
}
