.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: gray;
}

.battle {
    width: 1075px;
    height: 900px;
    position: absolute;
    z-index: 0;
    background-color: pink;
}

.management {
    width: 1075px;
    height: 900px;
    position: absolute;
    background-color: lightgreen;
}
.ships {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 1050px;
    background: black;
    margin: 10px 0px;
}

.vitalityDisplay {
    text-align: center;
    width: 190px;
    height: 30px;
    font-size: 20px;
}
.playerShip {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    height: 300px;
    background: blue;
}

.enemyShip {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 420px;
    height: 300px;
    background: red;
}

.system {
    font-size: 20px;
    padding: 10px 10px;
}

.actionBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 200px;
    background: orange;
    margin: 10px 10px;
}

.action {
    font-size: 25px;
    padding: 20px 12px;
}

.infoDisplayArea {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infoDisplay {
    height: 50px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    padding: 12px 12px;
    margin: 10px 50px;
}






